openapi: 3.0.1
info:
  title: Formlabs Web Consumables API
  description: The Formlabs Web API (Dashboard Developer API) provides remote monitoring and management of Internet-connected Formlabs products registered to a Dashboard account. It exposes read access to printers, prints, resin tanks, and cartridges, an event history feed, and full CRUD management of printer groups and their print queues. Typical use cases include automated reports on printer and material usage, job history exports, and integration of printer status into ERP / MES / custom systems.
  termsOfService: https://formlabs.com/terms-of-service/
  contact:
    name: Formlabs Developer Support
    url: https://support.formlabs.com/s/topic/Developer-Portal
  version: '1.0'
servers:
- url: https://api.formlabs.com/developer/v1
  description: Formlabs Web API (Dashboard Developer API)
security:
- OAuth2ClientCredentials: []
tags:
- name: Consumables
paths:
  /tanks/:
    get:
      operationId: listTanks
      tags:
      - Consumables
      summary: List resin tanks
      description: List all resin tanks associated with the account.
      responses:
        '200':
          description: A paginated list of resin tanks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TankList'
  /cartridges/:
    get:
      operationId: listCartridges
      tags:
      - Consumables
      summary: List resin cartridges
      description: List all resin cartridges associated with the account.
      responses:
        '200':
          description: A paginated list of resin cartridges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartridgeList'
components:
  schemas:
    Tank:
      type: object
      properties:
        serial:
          type: string
        material:
          type: string
        total_print_time_ms:
          type: integer
        layer_count:
          type: integer
        connected_printer:
          type: string
    CartridgeList:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Cartridge'
    Cartridge:
      type: object
      properties:
        serial:
          type: string
        material:
          type: string
        initial_volume_ml:
          type: number
        volume_dispensed_ml:
          type: number
        is_empty:
          type: boolean
        connected_printer:
          type: string
    TankList:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Tank'
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow. Exchange a client_id and client_secret at the token endpoint for a Bearer access token valid for 24 hours, scoped to developer-api. The Formlabs identity provider also supports OpenID Connect for interactive sign-in via PreForm / Local API.
      flows:
        clientCredentials:
          tokenUrl: https://api.formlabs.com/developer/v1/o/token/
          scopes:
            developer-api: Access the Formlabs Dashboard Developer API
