openapi: 3.0.1
info:
  title: Formlabs Web Consumables Events API
  description: The Formlabs Web API (Dashboard Developer API) provides remote monitoring and management of Internet-connected Formlabs products registered to a Dashboard account. It exposes read access to printers, prints, resin tanks, and cartridges, an event history feed, and full CRUD management of printer groups and their print queues. Typical use cases include automated reports on printer and material usage, job history exports, and integration of printer status into ERP / MES / custom systems.
  termsOfService: https://formlabs.com/terms-of-service/
  contact:
    name: Formlabs Developer Support
    url: https://support.formlabs.com/s/topic/Developer-Portal
  version: '1.0'
servers:
- url: https://api.formlabs.com/developer/v1
  description: Formlabs Web API (Dashboard Developer API)
security:
- OAuth2ClientCredentials: []
tags:
- name: Events
paths:
  /events/:
    get:
      operationId: listEvents
      tags:
      - Events
      summary: List events
      description: List the event history (print started/finished, errors, consumable changes, etc.) for the account. This is a polling endpoint; the Formlabs Web API does not publish push webhooks. Filter by printer, cartridge, tank, print run, type, and date range.
      parameters:
      - name: printer
        in: query
        schema:
          type: string
      - name: cartridge
        in: query
        schema:
          type: string
      - name: tank
        in: query
        schema:
          type: string
      - name: print_run
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      - name: date__gt
        in: query
        schema:
          type: string
          format: date-time
      - name: date__lt
        in: query
        schema:
          type: string
          format: date-time
      - name: page
        in: query
        schema:
          type: integer
      - name: per_page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A paginated list of events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
components:
  schemas:
    EventList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/Event'
    Event:
      type: object
      properties:
        id:
          type: string
        printer:
          type: string
        created_at:
          type: string
          format: date-time
        type:
          type: string
        type_label:
          type: string
        action:
          type: string
        message:
          type: string
        print_run:
          type: string
        tank:
          type: string
        cartridge:
          type: string
        read:
          type: boolean
        group:
          type: string
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow. Exchange a client_id and client_secret at the token endpoint for a Bearer access token valid for 24 hours, scoped to developer-api. The Formlabs identity provider also supports OpenID Connect for interactive sign-in via PreForm / Local API.
      flows:
        clientCredentials:
          tokenUrl: https://api.formlabs.com/developer/v1/o/token/
          scopes:
            developer-api: Access the Formlabs Dashboard Developer API
